
*.md~
*.md.html
*.wdf
*.wpc
*.mdd
*.xci
*.vho
*.vhdl
*.vhd
*.zip
*.pb
*.rpt
*.vds
*.rst
*.js
*.ui
*.jou
*.lpr
*.dcp
*.udo
*.do
vivado/zybo/__string_ip/*
vivado/zybo/axi_vip_0_ex/*
*.log
vivado/zybo/ip_repo/sting_wrap_1.0/example_designs/*
*.veo
*changelog.txt
vivado/zybo/sting_ip/sting_ip.cache/*
vivado/zybo/sting_ip/sting_ip.ip_user_files/*
vivado/zybo/sting_ip/sting_ip.runs/*
*xsim.dir*
XILINX_VIP_API_1009/*
vivado/zybo/zybo_sting/zybo_sting.tmp/*
*.xpr~
vivado/zybo/Table.xlsx
vivado/zybo/sting_ip/sting_ip.srcs/sources_1/bd/design_1/ipshared/*
vivado/zybo/zybo_sting/zybo_sting.cache/wt/webtalk_pa.xml
vivado/zybo/sting_ip/sting_ip.srcs/sources_1/bd/design_1/hdl/design_1.hwdef
*.h~
*.md#
